[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupytext = "*"

[packages]
requests = "*"
mantaray-utilities = {editable = true,path = "/home/batman/ocn/mantaray_utilities"}
ipykernel = "*"
squid-py = "==0.5.4"
pip-api = "*"
keeper-contracts = "==0.8.7"
schedule = "*"

[requires]
python_version = "3.6"
