version: '2.1'

# Run: docker-compose --project-name=ocean up

services:
  mongodb:
    image: mongo:3.6
    ports:
    - "27017:27017"
    command: mongod
    networks:
    - backend

  keeper-contracts:
    image: oceanprotocol/keeper-contracts:develop
    ports:
    - 8545:8545
    networks:
    - backend
    environment:
      LOCAL_CONTRACTS: 'true'
    volumes:
    - artifacts:/keeper-contracts/artifacts/

  provider:
    image: oceanprotocol/provider:develop
    ports:
    - 5000:5000
    networks:
    - backend
    depends_on:
    - keeper-contracts
    environment:
      KEEPER_HOST: http://keeper-contracts
      DB_HOSTNAME: mongodb
      LOCAL_CONTRACTS: 'true'
    volumes:
    - artifacts:/usr/local/keeper-contracts/:ro


networks:
  backend:

volumes:
  artifacts:


